<h1>Sign Up Today!</h1>
<div>
    <form id="signup-form" method="POST">
        <label for="first_name">
            <input type="text" id="first_name" name="first_name" placeholder="First Name" />
        </label>
        <label for="last_name">
            <input type="text" id="last_name" name="last_name" placeholder="Last Name" />
        </label>
        <label for="email">
            <input type="text" id="email" name="email" placeholder="Email" />
        </label>
        <label for="username">
            <input type="text" id="username" name="username" placeholder="Username" />
        </label>
        <label for="password">
            <input type="password" id="password" name="password" placeholder="Password" />
        </label>
        <label for="password">
            <input type="password" id="passwordCheck" name="passwordCheck" placeholder="Re-enter Password" />
        </label>
        <button type="submit" value="Submit">
            Submit
        </button>



    </form>
</div>

<div id="messages">
    {{#if Error}}
    <h2>{{ErrorMessage}}</h2>
    {{/if}}

</div>
<div>
    <a href="/">Aleady have an account? Log in here!</a>
</div>
<script type="text/javascript" src="../../public/js/signup.js"></script>