<script src="https://kit.fontawesome.com/9764bc42f4.js" crossorigin="anonymous"></script>

<style>
body {
  background-color: #dae0da;
}
</style>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="/mainview">Home</a></li>
  <li class="nbli"><a class="nb" href="/search">Search</a></li>
  <li class="nbli"><a class="nb" href="">Post</a></li>
  <li class="nbli"><a class="nb" href="">Account</a></li>
  <li class="nbli"><a class="nb" href="">Become a Buddy</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<h1 class="titlesearch">KEYWORD SEARCH<h1>

<label for="search" class="smalllabel">
  Keyword: <input type="text" name="searchTerm" id="searchTerm" placeholder="Enter a term">
</label>
<input type="submit" value="Submit" id="button">
