<script src="https://kit.fontawesome.com/9764bc42f4.js" crossorigin="anonymous"></script>

<style>
  body {
    background-color: #dae0da;
  }
</style>

<ul class="nblist">
  <li class="nbli"><a class="homenb nb" href="">Home</a></li>
  <li class="nbli"><a class="nb" href="">Search</a></li>
  <li class="nbli"><a class="nb" href="">Post</a></li>
  <li class="nbli"><a class="nb" href="">Account</a></li>
  <li class="nbli"><a class="nb" href="">Become a Buddy</a></li>
  <li class="nbli"><a class="nb" href="/logout">Logout</a></li>
</ul>

<h1 class="searchtitlemain">CHOOSE A SEARCH METHOD</h1>

<div>
  <h2 class="searchtitle">KEYWORD</h2>

  <a href="">
    <i class="fas fa-key fa-9x"></i>
  </a>

  <h2 class="searchtitle">SOLID TAG</h2>

  <a href="">
    <i class="fas fa-tags fa-9x"></i>
  </a>

  <h2 class="searchtitle">LOCATION</h2>

  <a href="">
    <i class="fas fa-globe-americas fa-9x"></i>
  </a>
</div>
