p {
  color: #2c3836;
  font-weight: normal;
  display: flex;

  text-align: center;
  padding-bottom: 10px;
}

main {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #2c3836;
  font-weight: bold;
  font-size: 50px;
}
div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}
body {
  background-color: #f3f5f5;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

button {
  color: #f3f5f5;
  background-color: #2c3836;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 6px;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #768b74;
  border-radius: 6px;
  padding: 10px;
}
label {
  font-weight: bold;
  padding-right: 10px;
  color: #f3f5f5;
}
input {
  padding: 6px;
  margin: 5px;
  border: none;
  border-radius: 6px;
}

a {
  color: #2c3836;
  margin: 10px;
  text-decoration: underline;
  text-align: center;
  font-size: 20px;
}
